/* body{
  background: url('C:/Users/WINDOWS/OneDrive - Khon Kaen University/Documents/GitHub/software_project/client/picture/bgimage.png') rgba(0,0,0,0.3) ;
  background-size: cover;
  background-repeat: inherit;
} */
